########################
# .NET
########################
bin/
obj/
.vs/
.dotnet/
*.user
*.suo

########################
# Angular / Node
########################
node_modules/
dist/
.angular/

########################
# Logs
########################
*.log

########################
# OS
########################
.DS_Store
Thumbs.db

########################
# VSCode
########################
.vscode/

########################
# Uploads
########################
backend/StreamHub.API/wwwroot/uploads/